
.CounterApp {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}
.CounterApp h1 {
    display: flex;
    min-width: 100%;
    justify-content: center; 
    align-items: center; 
}
.CounterApp button{
   margin:10px;
    padding: 10px 20px;
    border-radius: 10px;
} 

.WeatherApp {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
}
.WeatherApp-form{
  margin:1rem 0;
}
.WeatherApp-button {
    outline: none;
    border: none;
    color:white;
    background-color: #1d3557;
    padding: 4px 5px;
}
.WeatherApp-info{
    width: 100%;
}

.WeatherApp-info-card {
    width: 100%;
    margin-left: 50px;
}
.RandomQuote{
    display: inline-block;
}
.RandomQuote .RandomQuote-header {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    
}
.RandomQuote .RandomQuote-header .RandomQuote-header-button{
    margin-left: 20px;
    background-color: #1d3557;
    color: white;
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 5px;
}
.RandomQuote .RandomQuote-header .RandomQuote-header-button:hover{
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
}
.RandomQuote .RandomQuote-h3 {
    font-size: 1.8rem;
}
.RandomQuote .RandomQuote-h3 sub {
     font-size: 1.2rem;
     margin-left: 5px;
     letter-spacing: 2px;

}


.Quiz{
    margin-top: 10px;
    width:50%

}
.Quiz .Quiz-active-questions{
    margin: 20px 0;
}
.Quiz .Quiz-active-questions ul {
    padding-left: 0;
    text-decoration: none;
    list-style: none;
    font-size: 1.5rem;
    
}
.Quiz .Quiz-active-questions ul li {
    margin: 10px 0;
    padding-left:10px;
    border:2px solid #457b9d;
    border-radius:10px;
    cursor: pointer;

}
.Quiz .Quiz-active-questions ul .selected-answer{
   background-color: rgba(33, 158, 188, 0.5);
    border: 2px solid #caf0f8;
}
.Quiz .Quiz-active-questions .Quiz-button-container {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}
.Quiz .Quiz-active-questions .Quiz-button-container button {
    outline:none;
    border: none;
    color: white;
    padding: 2px 30px;
    letter-spacing: 1px;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: #06d6a0;
}
.Quiz .Quiz-active-questions .Quiz-button-container button:disabled{
    background-color: #e7e8e9;
    color: #9fa3a9;
}
.Quiz .Quiz-results {
    margin: 20px 0;
    padding-left: 10px;
}
.Quiz .Quiz-results h3 {
    padding-left: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;

}
.Quiz .Quiz-results p {
    font-size: 1.5rem;
}
.Quiz .Quiz-results span {
    font-weight:700
}

