
.CounterApp {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}
.CounterApp h1 {
    display: flex;
    min-width: 100%;
    justify-content: center; 
    align-items: center; 
}
.CounterApp button{
   margin:10px;
    padding: 10px 20px;
    border-radius: 10px;
} 

.WeatherApp {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
}
.WeatherApp-form{
  margin:1rem 0;
}
.WeatherApp-button {
    outline: none;
    border: none;
    color:white;
    background-color: #1d3557;
    padding: 4px 5px;
}
.WeatherApp-info{
    width: 100%;
}

.WeatherApp-info-card {
    width: 100%;
    margin-left: 50px;
}

.RandomQuote{
    display: inline-block;
}
.RandomQuote .RandomQuote-header {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    
}
.RandomQuote .RandomQuote-header .RandomQuote-header-button{
    margin-left: 20px;
    background-color: #1d3557;
    color: white;
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 5px;
}
.RandomQuote .RandomQuote-header .RandomQuote-header-button:hover{
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
}
.RandomQuote .RandomQuote-h3 {
    font-size: 1.8rem;
}
.RandomQuote .RandomQuote-h3 sub {
     font-size: 1.2rem;
     margin-left: 5px;
     letter-spacing: 2px;

}

.NewsApp{
    background-color: white;
    width: 100%;
    margin: 0;
    color: black;
}
.NewsApp .NewsApp_nav {
    display: flex;
    justify-content: space-between;
    padding-top: 20px ;
    letter-spacing: 1px;
    margin-left: 70px;
    margin-bottom: 30px;
}
.NewsApp .NewsApp_nav button {   
    border: 2px solid #fca311;
    margin-right: 30px;
    outline: none;
    background-color: white;
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 1.2rem;
}
.NewsApp .container {
    padding-inline: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    
}
.NewsApp .news_container {
    margin: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.NewsApp .news_card {
    margin: 10px 2px;
    background-color: beige;
    height:500px;
    color: black;
    padding: 0;
    overflow: hidden;
    border-radius: 10px;
}
.NewsApp .news_card .news_card_img {
    padding: 0;
}

.NewsApp .news_card .news_card_img img{
    width:100%;
    height: 200px;
}
.NewsApp .news_card .news_card_body {
    width: 100%;
    height: 250px;
    font-size: 0.8rem;
    margin: 0;
    background-color: beige;
}
.NewsApp .news_card .news_card_body h5 {
    margin-top: 5px;
}
.NewsApp .news_card .news_card_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: beige;
}

@media only screen and (max-width: 600px){
    .NewsApp .NewsApp_nav{
        margin-left: 10px;
        display: flex;
        align-items: center;
    }
    .NewsApp .NewsApp_nav h1 {
        
        font-size: 20px;
    }
    .NewsApp .NewsApp_nav button {
        padding: 5px  10px;
        font-size: 20px;
    }
    .NewsApp .news_card {
        height: 450px;
        font-size: 10px;
        margin-bottom: 20px;
        
    }
    .NewsApp .news_card .news_card_body{
        height: 200px;
    }

}

